button{
    color: brown;
    background-color: cornsilk
}
#para1{
    color :crimson;
    background-color: floralwhite;
}
#para2{
    color: green;
    background-color:greenyellow ;
}
.headings{
    color: hotpink;
}
.out-box{
    height: 202px;
    width: 304px;
    background-color: hotpink;
    margin-top: 68px;
    margin-left: 207px;
    padding-left: 100px;
    padding-top: 100px;
    border: 5px solid;
    border-color: rgb(151, 151, 47);
}
.inner-box{
    height: 50px;
    width: 75px;
    background-color: lawngreen;
}